<Blazorise.ThemeProvider Theme="@theme">
    <Router AppAssembly="typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="routeData" DefaultLayout="typeof(BlazorizeReference.Layouts.MainLayout)" />
        </Found>
        <NotFound>
            <p>Sorry, there's nothing at this address.</p>
        </NotFound>
    </Router>
    <MessageProvider />
    <PageProgressProvider />
</Blazorise.ThemeProvider>
@code {
    private Theme theme = new()
        {
            BarOptions = new()
            {
                HorizontalHeight = "72px"
            },
            ColorOptions = new()
            {
                Primary = "#5602f2",
                Secondary = "#2a79a7",
                Success = "#24aac2",
                Info = "#9BD8FE",
                Warning = "#f87f6d",
                Danger = "#f93434",
                Light = "#F0F0F0",
                Dark = "#535353",
            },
            BackgroundOptions = new()
            {
                Primary = "#5602f2",
                Secondary = "#2a79a7",
                Success = "#24aac2",
                Info = "#9BD8FE",
                Warning = "#f87f6d",
                Danger = "#f93434",
                Light = "#F0F0F0",
                Dark = "#535353",
            },
            InputOptions = new()
            {
                CheckColor = "#5602f2",
            }
        };
}