@inherits LayoutComponentBase
@layout MainLayout
<div style="float:left">
	<div><NavLink href="Settings/Database">Database</NavLink></div>
	<div><NavLink href="Settings/Modules">Modules</NavLink></div>
	<div><NavLink href="Settings/Channels">Channels</NavLink></div>
	<div><NavLink href="Settings/ChannelControllers">Controllers</NavLink></div>
</div>
<div style="float:left">
	@Body
</div>
