@inherits LayoutComponentBase
@layout MainLayout
<table>
	<tr>
		<td>
			<NavLink href="Admin/Setup"><div>Setup</div></NavLink>
			<NavLink href="Admin/Plugins"><div>Plugins</div></NavLink>
			<NavLink href="Admin/Connectors"><div>Connectors</div></NavLink>
			<NavLink href="Admin/Channels"><div>Channels</div></NavLink>
		</td>
		<td>@Body</td>
	</tr>
</table>
