


/* Style the links inside the navigation bar */
/*.header-label {
	
	color:mediumpurple;
}

.header-bar {
	border: 1px solid white;
}

.content-main{

}*/
/*
.header-nav {
	margin: auto;
	border: 1px solid white;
}*/
