@inherits LayoutComponentBase

	<header>
		<div style="vertical-align:middle;float:right;font-family:'Courier New';font-size:30px;">LEVIATHAN</div>
		<NavMenu />
	</header>

	<div>
		<main role="main" class="pb-3">
			@Body
		</main>
	</div>
