<nav class="menu">
	<NavLink href="" Match="NavLinkMatch.All">
		<div class="menu-item oi oi-home" aria-hidden="true"></div>
	</NavLink>
	<NavLink href="Admin">
		<div class="menu-item oi oi-wrench" aria-hidden="true"></div>
	</NavLink>
</nav>