@page "/Settings/QuickStart"


@if (Profiles != null) {
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Type id</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var i in Profiles) {
				<tr>
					<td>@i.Name</td>
					<td>@i.Description</td>
				</tr>
			}
		</tbody>
	</table>
}