<div>
	<div>
		@foreach (dynamic module in Modules) {
			<NavLink href="@module.Target">
				@module.Name
			</NavLink>
		}
	</div>

	@code{

	}

</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
